*{
  padding: 0%;
  margin: 0%;
  font-family: 'Oswald', sans-serif;
}

.cardy{
  display: table;
  width: 100%;
  height: 75px;
  background: #2b5172;
  padding: 1.5%;
  text-transform: uppercase;
  border: #ffffff 1px solid;
  text-align: center;
}

.cardy-questions{
  display: table;
  width: 100%;
  height: 75px;
  background: #43b0f1;
  padding: 1.5%;
  text-transform: uppercase;
  border: #ffffff 1px solid;
  text-align: center;
}

.cardy-questions:hover{
  background-color: #057dcd;
}

.card-title, .card-points{
  font-size: 1.5rem;
  text-align: center;
  top: 35%;
  position: relative;
  color: #ffffff;
}

.header{
  display: flex;
  font-size: 2rem;
  text-align: center;
  width: 100%;
}

.ques{
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  text-align: center;
  width: 100%;
}

.ques-thingy{
  display: flex;
  justify-content: center;
}
